apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment
  labels:
    app: tech-challenge-fiap
spec:
  replicas: 2
  selector:
    matchLabels:
      app: tech-challenge-fiap
  template:
    metadata:
      labels:
        app: tech-challenge-fiap
    spec:
      containers:
        - name: app
          image: app:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 3000
          envFrom:
            - configMapRef:
                name: app-config
            - secretRef:
                name: app-secrets
          livenessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 15
          readinessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10