apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment
  labels:
    app: tech-challenge-fiap
spec:
  replicas: 2
  selector:
    matchLabels:
      app: tech-challenge-fiap
  template:
    metadata:
      labels:
        app: tech-challenge-fiap
    spec:
      containers:
        - name: app
          image: app:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          env:
            - name: NEW_RELIC_APP_NAME
              value: "tech-challenge-app-staging"
            - name: NEW_RELIC_DISTRIBUTED_TRACING_ENABLED
              value: "true"
            - name: NEW_RELIC_LOG
              value: "stdout"
            - name: NEW_RELIC_NO_CONFIG_FILE
              value: "true"
            - name: NEW_RELIC_LICENSE_KEY
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: NEW_RELIC_LICENSE_KEY  
          envFrom:
            - configMapRef:
                name: app-config
            - secretRef:
                name: app-secrets
          livenessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 15
          readinessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10