name: Destroy Kubernetes Resources

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Ambiente (staging ou production)'
        required: true
        default: 'staging'

jobs:
  destroy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Update kubeconfig
        run: aws eks update-kubeconfig --region us-east-1 --name tc-fiap-${{ github.event.inputs.environment == 'production' && 'production' || 'staging' }}

      - name: Destroy Kubernetes resources
        run: |
          kubectl delete -f k8s/hpa.yaml || true
          kubectl delete -f k8s/app-service.yaml || true
          kubectl delete -f k8s/app-deployment.yaml || true
          kubectl delete -f k8s/configmap.yaml || true
          envsubst < k8s/secrets.yaml | kubectl delete -f - || true
